ignored/
tailscale/
.vscode/
.claude/
logs/

*.prof

# docs
Echolink-chat.md
Headscale-Repo-Analysis.md

# envs
.env
.env.*

# tls
*.pem
*.crt
*.csr
*.key.pem

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

dist/
/headscale
config.yaml
config*.yaml
!config-example.yaml
derp.yaml
*.hujson
!acl-policy.hujson
*.key
/db.sqlite
*.sqlite3

# Exclude Jetbrains Editors
.idea

test_output/
control_logs/

# Nix build output
result
.direnv/

integration_test/etc/config.dump.yaml

# MkDocs
.cache
/site

__debug_bin

node_modules/
package-lock.json
package.json

# files and folders not needed for EchoLink
integration/
cmd/hi/
nix/
cmd/mapresponses/
.github/
.goreleaser.yml
.golangci.yaml
.pre-commit-config.yaml
google-oauth-client-secret.json
Dockerfile.integration
Dockerfile.integration-ci
Dockerfile.tailscale-HEAD
Dockerfile.derper
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
mkdocs.yml
buf.gen.yaml
derp-example.yaml
Makefile
flake.nix
flake.lock
swagger.go
tools/
.claude/